{% if config.PRODUCTION %}
  <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
{% else %}
  <script src="{{ url_for('static', filename='jquery-1.8.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='knockout-2.2.1.js') }}"></script>
  <script src="{{ url_for('static', filename='knockout.mapping.min.js') }}"></script>
{% endif %}